<!-- Grid container -->
<div class="container p-4">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
      <h5 class="text-uppercase text-primary">Sobre nós:</h5>

      <p>
        O EmpreGO! tem como objetivo facilitar a busca por empregos e a divulgação de vagas na área de tecnologia da informação, 

      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase text-primary">Patrocinadores:</h5>

      <ul class="list-unstyled mb-0">
        <li>
          <a href="https://www.linkedin.com/feed/" target="_blank" class="text-body">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.oracle.com/" target="_blank" class="text-body">Oracle</a>
        </li>
        <li>
          <a href="https://www.nvidia.com/en-us/" target="_blank" class="text-body">NVIDIA</a>
        </li>
        <li>
          <a href="https://www.microsoft.com/pt-br" target="_blank" class="text-body">Microsoft</a>
        </li>
      </ul>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-0 text-primary">Contatos:</h5>

      <ul class="list-unstyled">
        <li style="margin-top: 5px;">
          <p>Itapeva SP Brasil</p>
        </li>
        <li>
          <p>suporteemprego@gmail.com</p>
        </li>
        <li>
          <p>+55 (15)99999-0000</p>
        </li>
      </ul>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3 text-primary" style="background-color: rgba(0, 0, 0, 0.05)">
  © 2020 EmpreGO
</div>
<!-- Copyright -->
