{% extends "base.html" %}
{% block title %}EmpreGO! - Página Inicial{% endblock%} 
{% block content %}

<div class="container" style="margin-top: 25px;">
  <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
      <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
          <h1 class="text-center mb-4">Login</h1>

          {% if msg_erro %}
              <div class="alert alert-danger" role="alert">
                  {{ msg_erro }}
              </div>
          {% endif %}

          <form action="/login" method="post"class="row needs-validation g-3" novalidate>
              <div class="mb-3">
                  <label for="email" class="form-label">E-mail</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail" required>
                  <div class="valid-feedback">
                    Parece bom!
                  </div>
                  <div class="invalid-feedback">
                    Por favor, preencha o seu email.
                 </div>
              </div>
              <div class="mb-3">
                  <label for="senha" class="form-label">Senha</label>
                  <input type="password" class="form-control" id="senha" name="senha" placeholder="Insira sua senha" required>
                  <div class="valid-feedback">
                    Parece bom!
                  </div>
                  <div class="invalid-feedback">
                    Por favor, preencha sua senha.
                 </div>
              </div>
              <button type="submit" class="btn btn-primary w-100">Acessar</button> <p></p>
              <p class="text-center"> <a href="/">Voltar</a> </p>
          </form>
      </div>
  </div>
</div>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>
<!-- Link do Input Mask -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>
{% endblock %}

<!-- GET- Pegar, abre o template
POST- Postar, trata e envia os dados 
A rota /login vai usar esses dois métodos.-->
